body {
    margin: 0;
}

nav {
    width: 100%;
    height: 60px;
    background-color: #0f3470;
    margin: 0;
}

nav ul {
    color: white;
    margin: 0;
}

nav li{
    float: left;
    list-style: none;
    padding-top: 20px;
    text-align: center;
}

#menuInicio ul {
    margin: 0;    
}

#menuInicio li{
    list-style:none;
    float:left;
    padding-right: 240px;
    padding-left: 150px;
    padding-top: 10px;
}

#menuInicio a{
    text-decoration:none;
    color:#444;
}




#imagen {
    float: right;
    margin-right: 200px;
    border-radius: 5px;
}


#titulo {
    margin: 0 0 10px 0px;
    font-family: "Tahoma", "Geneva", sans-serif;
}

    #titulo h1 {
        color: #000000;
        font-family: sans-serif;
        text-align: center;
    }


#form {
    background-color: #ffffff;
    margin: 0 auto;
    width: 500px;
    padding: 0 20px 0 0;
}

#menuOpciones {
    background-color: #ffffff;
    width: 350px;
    height: 500px;
    padding: 0 20px 0 0;
    color: #444;
    border: 1px solid #444;
    border-radius: 10px;
    overflow: hidden;
    float: left;
}

.botones {
    background-color: #0f3470;
    color: aliceblue;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 50px;
}

#form2 {
    background-color: #ffffff;
    margin: 0 auto;
    width: 495px;
    padding: 0 20px 0 0;
}

#seccion {
    float: left;
    width: 70%;
}



#form2 input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
}