#imagen {
    float: right;
    margin-right: 200px;
    
    border-radius: 5px;
}


#titulo {
    background-color: #0f3470;
    margin: 0 0 10px 0px;
    border-radius: 7px;
    border: 1px solid #499ec8;
    font-family: "Tahoma", "Geneva", sans-serif;
}

h1 {
    color: #ffffff;
    font-family: sans-serif;
    text-align: center;
}
   

#form {
    background-color: #ffffff;
    margin: 0 auto;
    width: 500px;
    padding: 0 20px 0 0;
}

#menuOpciones {
    background-color: #ffffff;
    width: 350px;
    height: 500px;
    padding: 0 20px 0 0;
    color: #444;
    border: 1px solid #444;
    border-radius: 10px;
    overflow: hidden; 
    float:left;
}

.botones {
    width: 300px;
    height: 40px;
    background-color: #0f3470;
    color: aliceblue;
    display: block;
    margin-left:auto;
    margin-right:auto;
}

#form2 {
    background-color: #ffffff;
    margin: 0 auto;
    width: 495px;
    height: 702px;
    padding: 0 20px 0 0;
}

#seccion{
    float:left;
    width:70%;
    height:1028px;
}

input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
}

